@using LTF_Library_V1.Services
@inherits LayoutComponentBase
@inject AuthService AuthService

<PageTitle>LTF_Library V1</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.facebook.com/search/top?q=lander%20trail%20foundation" target="_blank">Visit us on Facebook</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
